<IfModule mod_rewrite.c>
    Options +FollowSymLinks

    RewriteEngine On

    # Fix for symlinked storage
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^storage/(.*)$ ../storage/app/public/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
